# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Library
pkg
src

# Generated scripts from test
scripts/activate.bat
scripts/deactivate.bat
scripts/activate
scripts/deactivate

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
